/* --------------------- 
REGISTRATION SECTION
--------------------- */
.registration {
	align-items: center;
	text-align: center;
	padding: 5px;
	color: #8acae4;
	padding-bottom: 20px;
}

.registration-elements {
	display: flex;
	flex-direction: column;	
}

.registration-title {
	align-items: center;
	height: 100px;
	padding: 5px;
	color: #fff;
	font-size: 50px;	
}

.registration-subtitle {
	text-align: center;
	padding: 5px;
	color: #b2b8b6;
	font-size: 30px;	
}

.registration-input {
	padding: 5px;
	color: #fff;
	width: 400px;
	height: 30px;	
}

.registration-form {
	padding: 15px 20px 10px 20px;
	background:  #fff;
	width: 550px;
	height: 500px;
	align-self: center;
}
.registration-input-login {
	padding-top: 20px;
	border-bottom: 2px solid #8acae4;
	border-left:none;
	border-right:none;
	border-top:none;
	background:  #fff;
	margin-left: 50px;
	color:#8acae4;
	width: 450px;
	height: 30px;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
	margin-top: 20px;
}

.registration-input-password {
	padding-top: 20px;
	border-bottom: 2px solid #b2b8b6;
	border-left:none;
	border-right:none;
	border-top:none;
	background:  #fff;
	margin-left: 50px;
	margin-right: 50px;
	color: #b2b8b6;
	width: 450px;
	height: 30px;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
	margin-top: 20px;
}

.btn-registration-section {
	padding-top: 50px;
	margin-left: 50px;
}

.btn-registration {
	margin-top: 20px;
	background: #43aec9;
	color:  #fff;
	border: #107da8;
	font-size: 20px;
	width: 450px;
	height: 30px;
}

.btn-registration:hover {
	background: #4eb8ca;
	border: #107da8;
	color: #fff;
	width: 450px;
	height: 30px;
}
/* --------------------- 
LOGIN SECTION
--------------------- */
.login {
	align-items: center;
	text-align: center;
	padding: 5px;
	color: #4c977e;
	
}

.login-section
{
	display: flex;
	flex-direction: column;
	
}

.login-title {
	align-items: center;
	padding: 5px;
	color: #fff;
	font-size: 50px;	
}

.login-subtitle {
	text-align: center;
	padding: 5px;
	color: #b2b8b6;
	font-size: 30px;	
}

.login-title-bottom {
	text-align: right;
	color: #8acae4;
	font-size: 20px;
	padding-top: 50px;
	padding-right: 50px;	
}

.login-input {
	padding: 5px;
	color: #fff;
	width: 400px;
	height: 30px;	
}

.login-form {
	align-content: center;
	align-items: center;
	padding: 15px 20px 10px 20px;
	background:  #fff;
	width: 550px;
	height: 500px;
	align-self: center;
}
.login-input-login {
	padding-top: 20px;
	border-bottom: 2px solid #8acae4;
	border-left:none;
	border-right:none;
	border-top:none;
	background:  #fff;
	margin-left: 50px;
	color:#8acae4;
	width: 450px;
	height: 30px;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
	margin-top: 20px;
	align-self: center;
}

.login-input-password {
	padding-top: 20px;
	border-bottom: 2px solid #b2b8b6;
	border-left:none;
	border-right:none;
	border-top:none;
	background:  #fff;
	margin-left: 50px;
	margin-right: 50px;
	color: #b2b8b6;
	width: 450px;
	height: 30px;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
	margin-top: 20px;
}

.btn-login-section {
	padding-top: 50px;
	margin-left: 50px;
}

.btn-login {
	background: #43aec9;
	border: #107da8;
	color:  #b2b8b6;
	font-size: 20px;
	width: 450px;
	height: 30px;
}

.btn-login:hover {
	background: #4eb8ca;
	border: #107da8;
	color: #b2b8b6;
	width: 450px;
	height: 30px;
}

/* --------------------- 
BLOGS SECTION
--------------------- */
#blog-background{
	background-image: url(img/blogs.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.b-popup{
	background-color: rgba(196, 192, 192, 0.705);
    overflow: hidden;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 100px;
    right: 100px;
    max-height: 600px;
    min-height: 500px;
}

.b-popup-content{
	display: none;
	color: black;
	border-radius:5px;
	font-size: 20px;
}

.btn-main {
	color:  #fff;
	font-size: 15px;
	height: 30px;
	padding: 10px;
	cursor: pointer;
}

.btn-main-section{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.main-title {
	color:  #fff;
	font-size: 50px;
	
	padding-left: 100px;
	
}

.main-content {
	display: flex;
	flex-direction: column;

}

.main-footer {
		
}

.main-subtitle {
	color:  #fff;
	font-size: 40px;
	height: 30px;
	padding-left: 100px;

}

.main-wrapper
{
	
}

.btn-close-pop-up{
	font-size: 20px;
	color: black;
	text-align: center;
}

/* --------------------- 
CABINET SECTION
--------------------- */

#menu-history
{
	display: none;
}

#menu-article
{
	display: none;
}

#menu-new
{
	display: none;
}

#menu-picture
{
	display: none;
}

#menu-history-description
{
	display: none;
}

#menu-related-articles
{
	display: none;
}

#cabinet-background
{
	background-image: url(img/cabinet.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#menu-success
{
	display: none;
}

.fa-book-user
{
	color: black;
}
.header-section
{
	padding-bottom: 30px;
}

.header-section-titles
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-section-subtitles
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.main-section
{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: #dee4e2;
	
}


.main-list
{
	display: flex;
	flex-direction: column;
	background:   #dee4e2;
	max-width: 400px;
	min-width: 200px;
	flex-grow: 1;
	padding-right: 10px;
	min-height: 300px;
	padding-bottom: 20px;
	flex-wrap: wrap;
}

.cabinet-btn
{
	color: white;
	font-size: 16px;
	cursor: pointer;
	border: solid 1px #7c7873f5;
	background: #7c7873f5;
	text-align: center;
	margin: 10px;
}
.cabinet-btn-title
{
	color: white;
	font-size: 18px;
}

.subtitle-cabinet
{
	background: #ebe6a8f5;
	width: 250px;
	text-align: center;
	height: 210px;
}

.subtitle-section-name
{
padding-top: 90px;
}

.subtitle-section
{
	flex-grow: 5;
	max-width: 800px;
	min-width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.subtitle-name
{
	padding-top: 100px;
	padding-left: 20px;
}

.subtitle-name-btn
{
	font-size: 22px;
	text-decoration: none;
	color: white;
	
}

.subsection-btns
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #ebe6a8f5;
	max-width: 800px;
	min-width: 400px;
	
}

.main-subsection
{
	max-width: 800px;
	min-width: 400px;
	background: white;
	flex-grow: 5;
	color: black;
	padding-bottom: 20px;
}

.subtitle-name
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	color: #fff;
	font-size: 14px;

}

.title-main
{
	color: #fff;
	padding-left: 40px;

}

.title-user
{
	color: #fff;
	padding-right: 40px;
	display: flex;
	flex-direction: row;
	
}

#title-user
{
	color: #fff;
	padding-right: 40px;
	font-size: 18px;		
}

.cabinet-menu-title
{
	padding-left: 10px;
	font-size: 20px;
}

.input-title
{
	padding-left: 10px;
	font-size: 18px;
	width: 150px;
}

.input-title-field
{
	margin-left: 10px;
	min-width: 300px;
	max-width: 500px;
	min-height: 30px;
	height: 15px; 
   	line-height: 15px;
}

.input-history[type=text], .input-article[type=text], .input-news[type=text]
{
	margin-left: 10px;
	min-width: 300px;
	max-width: 500px;
	min-height: 300px;
	height: 15px; 
   	line-height: 15px;

}

.field
{
	display: flex;
	flex-direction: row;
	
	padding-bottom: 10px;
}

.cabinet-button
{
	background: #ebe6a8f5;
	max-width: 300px;
	min-width: 200px;
	height: 50px;
	font-size: 20px;
	margin-left: 220px;
	margin-top: 10px;
	text-align: center;
}

.btn-chat
{
	padding: 3px;
}

.btn-related
{
	padding: 3px;
}

.btn-articles
{
	padding: 3px;
}

.node
{
display: flex;
flex-direction: column;
}

.between
{
	padding: 10px;
}

.menu-related-elements-section
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.menu-related-articles-section
{
	display: flex;
	flex-direction: column;
}

.menu-related-news-section
{
	display: flex;
	flex-direction: column;
}

.post-section
{
	border: solid 1px #7c7873f5;
	background: #fafceaf5;
	min-width: 200px;
	min-height: 300px;
	max-width: 300px;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.post-title
{
	font-size: 24px;
	text-align: center;
}

.post-text
{
	font-size: 18px;
	text-align: center;
}

.post-btn
{
	border: solid 1px #7c7873f5;
	background: #cacabef5;
	width: 70px;
	min-height: 50px;
	margin: 10px;
}

.post-section-btn
{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-between
{
	padding: 10px;
}

/* --------------------- 
BASIC SETTINGS
--------------------- */
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background: #aae5e9;
}

.btn
{
	cursor: pointer;
}

.fa-sign-out-alt{
	font-size: 30px;
}

/* --------------------- 
INPUT FIELDS
--------------------- */

/* --------------------- 
SECTION HEADINGS
--------------------- */

/* --------------------- 
FOOTER SECTION
--------------------- */
footer {
	padding: 75px 0 30px 0;
}
/* --------------------- 
OVERLAY PRESET
--------------------- */


